<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mall.dao.OmsOrderItemMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.mall.model.OmsOrderItem" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_sn" property="orderSn" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_pic" property="productPic" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_brand" property="productBrand" jdbcType="VARCHAR" />
    <result column="product_sn" property="productSn" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_quantity" property="productQuantity" jdbcType="INTEGER" />
    <result column="product_sku_id" property="productSkuId" jdbcType="BIGINT" />
    <result column="product_sku_code" property="productSkuCode" jdbcType="VARCHAR" />
    <result column="product_category_id" property="productCategoryId" jdbcType="BIGINT" />
    <result column="sp1" property="sp1" jdbcType="VARCHAR" />
    <result column="sp2" property="sp2" jdbcType="VARCHAR" />
    <result column="sp3" property="sp3" jdbcType="VARCHAR" />
    <result column="promotion_name" property="promotionName" jdbcType="VARCHAR" />
    <result column="promotion_amount" property="promotionAmount" jdbcType="DECIMAL" />
    <result column="coupon_amount" property="couponAmount" jdbcType="DECIMAL" />
    <result column="integration_amount" property="integrationAmount" jdbcType="DECIMAL" />
    <result column="real_amount" property="realAmount" jdbcType="DECIMAL" />
    <result column="gift_integration" property="giftIntegration" jdbcType="INTEGER" />
    <result column="gift_growth" property="giftGrowth" jdbcType="INTEGER" />
    <result column="product_attr" property="productAttr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, order_sn, product_id, product_pic, product_name, product_brand, product_sn, 
    product_price, product_quantity, product_sku_id, product_sku_code, product_category_id, 
    sp1, sp2, sp3, promotion_name, promotion_amount, coupon_amount, integration_amount, 
    real_amount, gift_integration, gift_growth, product_attr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from oms_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from oms_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.mall.model.OmsOrderItem" >
    insert into oms_order_item (id, order_id, order_sn, 
      product_id, product_pic, product_name, 
      product_brand, product_sn, product_price, 
      product_quantity, product_sku_id, product_sku_code, 
      product_category_id, sp1, sp2, 
      sp3, promotion_name, promotion_amount, 
      coupon_amount, integration_amount, real_amount, 
      gift_integration, gift_growth, product_attr
      )
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{orderSn,jdbcType=VARCHAR}, 
      #{productId,jdbcType=BIGINT}, #{productPic,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{productBrand,jdbcType=VARCHAR}, #{productSn,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, 
      #{productQuantity,jdbcType=INTEGER}, #{productSkuId,jdbcType=BIGINT}, #{productSkuCode,jdbcType=VARCHAR}, 
      #{productCategoryId,jdbcType=BIGINT}, #{sp1,jdbcType=VARCHAR}, #{sp2,jdbcType=VARCHAR}, 
      #{sp3,jdbcType=VARCHAR}, #{promotionName,jdbcType=VARCHAR}, #{promotionAmount,jdbcType=DECIMAL}, 
      #{couponAmount,jdbcType=DECIMAL}, #{integrationAmount,jdbcType=DECIMAL}, #{realAmount,jdbcType=DECIMAL}, 
      #{giftIntegration,jdbcType=INTEGER}, #{giftGrowth,jdbcType=INTEGER}, #{productAttr,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.mall.model.OmsOrderItem" >
    insert into oms_order_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderSn != null" >
        order_sn,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productPic != null" >
        product_pic,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productBrand != null" >
        product_brand,
      </if>
      <if test="productSn != null" >
        product_sn,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productQuantity != null" >
        product_quantity,
      </if>
      <if test="productSkuId != null" >
        product_sku_id,
      </if>
      <if test="productSkuCode != null" >
        product_sku_code,
      </if>
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
      <if test="sp1 != null" >
        sp1,
      </if>
      <if test="sp2 != null" >
        sp2,
      </if>
      <if test="sp3 != null" >
        sp3,
      </if>
      <if test="promotionName != null" >
        promotion_name,
      </if>
      <if test="promotionAmount != null" >
        promotion_amount,
      </if>
      <if test="couponAmount != null" >
        coupon_amount,
      </if>
      <if test="integrationAmount != null" >
        integration_amount,
      </if>
      <if test="realAmount != null" >
        real_amount,
      </if>
      <if test="giftIntegration != null" >
        gift_integration,
      </if>
      <if test="giftGrowth != null" >
        gift_growth,
      </if>
      <if test="productAttr != null" >
        product_attr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderSn != null" >
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productPic != null" >
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null" >
        #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null" >
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productQuantity != null" >
        #{productQuantity,jdbcType=INTEGER},
      </if>
      <if test="productSkuId != null" >
        #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="productSkuCode != null" >
        #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="sp1 != null" >
        #{sp1,jdbcType=VARCHAR},
      </if>
      <if test="sp2 != null" >
        #{sp2,jdbcType=VARCHAR},
      </if>
      <if test="sp3 != null" >
        #{sp3,jdbcType=VARCHAR},
      </if>
      <if test="promotionName != null" >
        #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionAmount != null" >
        #{promotionAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponAmount != null" >
        #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="integrationAmount != null" >
        #{integrationAmount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null" >
        #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="giftIntegration != null" >
        #{giftIntegration,jdbcType=INTEGER},
      </if>
      <if test="giftGrowth != null" >
        #{giftGrowth,jdbcType=INTEGER},
      </if>
      <if test="productAttr != null" >
        #{productAttr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.mall.model.OmsOrderItem" >
    update oms_order_item
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderSn != null" >
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productPic != null" >
        product_pic = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productBrand != null" >
        product_brand = #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null" >
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productQuantity != null" >
        product_quantity = #{productQuantity,jdbcType=INTEGER},
      </if>
      <if test="productSkuId != null" >
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="productSkuCode != null" >
        product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="productCategoryId != null" >
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="sp1 != null" >
        sp1 = #{sp1,jdbcType=VARCHAR},
      </if>
      <if test="sp2 != null" >
        sp2 = #{sp2,jdbcType=VARCHAR},
      </if>
      <if test="sp3 != null" >
        sp3 = #{sp3,jdbcType=VARCHAR},
      </if>
      <if test="promotionName != null" >
        promotion_name = #{promotionName,jdbcType=VARCHAR},
      </if>
      <if test="promotionAmount != null" >
        promotion_amount = #{promotionAmount,jdbcType=DECIMAL},
      </if>
      <if test="couponAmount != null" >
        coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      </if>
      <if test="integrationAmount != null" >
        integration_amount = #{integrationAmount,jdbcType=DECIMAL},
      </if>
      <if test="realAmount != null" >
        real_amount = #{realAmount,jdbcType=DECIMAL},
      </if>
      <if test="giftIntegration != null" >
        gift_integration = #{giftIntegration,jdbcType=INTEGER},
      </if>
      <if test="giftGrowth != null" >
        gift_growth = #{giftGrowth,jdbcType=INTEGER},
      </if>
      <if test="productAttr != null" >
        product_attr = #{productAttr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.mall.model.OmsOrderItem" >
    update oms_order_item
    set order_id = #{orderId,jdbcType=BIGINT},
      order_sn = #{orderSn,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=BIGINT},
      product_pic = #{productPic,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_brand = #{productBrand,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_quantity = #{productQuantity,jdbcType=INTEGER},
      product_sku_id = #{productSkuId,jdbcType=BIGINT},
      product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      sp1 = #{sp1,jdbcType=VARCHAR},
      sp2 = #{sp2,jdbcType=VARCHAR},
      sp3 = #{sp3,jdbcType=VARCHAR},
      promotion_name = #{promotionName,jdbcType=VARCHAR},
      promotion_amount = #{promotionAmount,jdbcType=DECIMAL},
      coupon_amount = #{couponAmount,jdbcType=DECIMAL},
      integration_amount = #{integrationAmount,jdbcType=DECIMAL},
      real_amount = #{realAmount,jdbcType=DECIMAL},
      gift_integration = #{giftIntegration,jdbcType=INTEGER},
      gift_growth = #{giftGrowth,jdbcType=INTEGER},
      product_attr = #{productAttr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>