<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mall.dao.PmsFeightTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.mall.model.PmsFeightTemplate" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="charge_type" property="chargeType" jdbcType="INTEGER" />
    <result column="first_weight" property="firstWeight" jdbcType="DECIMAL" />
    <result column="first_fee" property="firstFee" jdbcType="DECIMAL" />
    <result column="continue_weight" property="continueWeight" jdbcType="DECIMAL" />
    <result column="continme_fee" property="continmeFee" jdbcType="DECIMAL" />
    <result column="dest" property="dest" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, charge_type, first_weight, first_fee, continue_weight, continme_fee, dest
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pms_feight_template
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_feight_template
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.mall.model.PmsFeightTemplate" >
    insert into pms_feight_template (id, name, charge_type, 
      first_weight, first_fee, continue_weight, 
      continme_fee, dest)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{chargeType,jdbcType=INTEGER}, 
      #{firstWeight,jdbcType=DECIMAL}, #{firstFee,jdbcType=DECIMAL}, #{continueWeight,jdbcType=DECIMAL}, 
      #{continmeFee,jdbcType=DECIMAL}, #{dest,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.mall.model.PmsFeightTemplate" >
    insert into pms_feight_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="firstWeight != null" >
        first_weight,
      </if>
      <if test="firstFee != null" >
        first_fee,
      </if>
      <if test="continueWeight != null" >
        continue_weight,
      </if>
      <if test="continmeFee != null" >
        continme_fee,
      </if>
      <if test="dest != null" >
        dest,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        #{chargeType,jdbcType=INTEGER},
      </if>
      <if test="firstWeight != null" >
        #{firstWeight,jdbcType=DECIMAL},
      </if>
      <if test="firstFee != null" >
        #{firstFee,jdbcType=DECIMAL},
      </if>
      <if test="continueWeight != null" >
        #{continueWeight,jdbcType=DECIMAL},
      </if>
      <if test="continmeFee != null" >
        #{continmeFee,jdbcType=DECIMAL},
      </if>
      <if test="dest != null" >
        #{dest,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.mall.model.PmsFeightTemplate" >
    update pms_feight_template
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="chargeType != null" >
        charge_type = #{chargeType,jdbcType=INTEGER},
      </if>
      <if test="firstWeight != null" >
        first_weight = #{firstWeight,jdbcType=DECIMAL},
      </if>
      <if test="firstFee != null" >
        first_fee = #{firstFee,jdbcType=DECIMAL},
      </if>
      <if test="continueWeight != null" >
        continue_weight = #{continueWeight,jdbcType=DECIMAL},
      </if>
      <if test="continmeFee != null" >
        continme_fee = #{continmeFee,jdbcType=DECIMAL},
      </if>
      <if test="dest != null" >
        dest = #{dest,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.mall.model.PmsFeightTemplate" >
    update pms_feight_template
    set name = #{name,jdbcType=VARCHAR},
      charge_type = #{chargeType,jdbcType=INTEGER},
      first_weight = #{firstWeight,jdbcType=DECIMAL},
      first_fee = #{firstFee,jdbcType=DECIMAL},
      continue_weight = #{continueWeight,jdbcType=DECIMAL},
      continme_fee = #{continmeFee,jdbcType=DECIMAL},
      dest = #{dest,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>