<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mall.dao.UmsMemberTagMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.mall.model.UmsMemberTag" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="finish_order_count" property="finishOrderCount" jdbcType="INTEGER" />
    <result column="finish_order_amount" property="finishOrderAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, finish_order_count, finish_order_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ums_member_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ums_member_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.mall.model.UmsMemberTag" >
    insert into ums_member_tag (id, name, finish_order_count, 
      finish_order_amount)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{finishOrderCount,jdbcType=INTEGER}, 
      #{finishOrderAmount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.mall.model.UmsMemberTag" >
    insert into ums_member_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="finishOrderCount != null" >
        finish_order_count,
      </if>
      <if test="finishOrderAmount != null" >
        finish_order_amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="finishOrderCount != null" >
        #{finishOrderCount,jdbcType=INTEGER},
      </if>
      <if test="finishOrderAmount != null" >
        #{finishOrderAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.mall.model.UmsMemberTag" >
    update ums_member_tag
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="finishOrderCount != null" >
        finish_order_count = #{finishOrderCount,jdbcType=INTEGER},
      </if>
      <if test="finishOrderAmount != null" >
        finish_order_amount = #{finishOrderAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.mall.model.UmsMemberTag" >
    update ums_member_tag
    set name = #{name,jdbcType=VARCHAR},
      finish_order_count = #{finishOrderCount,jdbcType=INTEGER},
      finish_order_amount = #{finishOrderAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>