<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mall.dao.UmsMemberProductCategoryRelationMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.mall.model.UmsMemberProductCategoryRelation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="product_category_id" property="productCategoryId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, product_category_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ums_member_product_category_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ums_member_product_category_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.mall.model.UmsMemberProductCategoryRelation" >
    insert into ums_member_product_category_relation (id, member_id, product_category_id
      )
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{productCategoryId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.mall.model.UmsMemberProductCategoryRelation" >
    insert into ums_member_product_category_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="productCategoryId != null" >
        product_category_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="productCategoryId != null" >
        #{productCategoryId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.mall.model.UmsMemberProductCategoryRelation" >
    update ums_member_product_category_relation
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="productCategoryId != null" >
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.mall.model.UmsMemberProductCategoryRelation" >
    update ums_member_product_category_relation
    set member_id = #{memberId,jdbcType=BIGINT},
      product_category_id = #{productCategoryId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>