<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.mall.dao.UmsMemberStatisticsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.mall.model.UmsMemberStatisticsInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="consume_amount" property="consumeAmount" jdbcType="DECIMAL" />
    <result column="order_count" property="orderCount" jdbcType="INTEGER" />
    <result column="coupon_count" property="couponCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="return_order_count" property="returnOrderCount" jdbcType="INTEGER" />
    <result column="login_count" property="loginCount" jdbcType="INTEGER" />
    <result column="attend_count" property="attendCount" jdbcType="INTEGER" />
    <result column="fans_count" property="fansCount" jdbcType="INTEGER" />
    <result column="collect_product_count" property="collectProductCount" jdbcType="INTEGER" />
    <result column="collect_subject_count" property="collectSubjectCount" jdbcType="INTEGER" />
    <result column="collect_topic_count" property="collectTopicCount" jdbcType="INTEGER" />
    <result column="collect_comment_count" property="collectCommentCount" jdbcType="INTEGER" />
    <result column="invite_friend_count" property="inviteFriendCount" jdbcType="INTEGER" />
    <result column="recent_order_time" property="recentOrderTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, consume_amount, order_count, coupon_count, comment_count, return_order_count, 
    login_count, attend_count, fans_count, collect_product_count, collect_subject_count, 
    collect_topic_count, collect_comment_count, invite_friend_count, recent_order_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ums_member_statistics_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ums_member_statistics_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.springboot.mall.model.UmsMemberStatisticsInfo" >
    insert into ums_member_statistics_info (id, member_id, consume_amount, 
      order_count, coupon_count, comment_count, 
      return_order_count, login_count, attend_count, 
      fans_count, collect_product_count, collect_subject_count, 
      collect_topic_count, collect_comment_count, 
      invite_friend_count, recent_order_time)
    values (#{id,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{consumeAmount,jdbcType=DECIMAL}, 
      #{orderCount,jdbcType=INTEGER}, #{couponCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, 
      #{returnOrderCount,jdbcType=INTEGER}, #{loginCount,jdbcType=INTEGER}, #{attendCount,jdbcType=INTEGER}, 
      #{fansCount,jdbcType=INTEGER}, #{collectProductCount,jdbcType=INTEGER}, #{collectSubjectCount,jdbcType=INTEGER}, 
      #{collectTopicCount,jdbcType=INTEGER}, #{collectCommentCount,jdbcType=INTEGER}, 
      #{inviteFriendCount,jdbcType=INTEGER}, #{recentOrderTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.mall.model.UmsMemberStatisticsInfo" >
    insert into ums_member_statistics_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="consumeAmount != null" >
        consume_amount,
      </if>
      <if test="orderCount != null" >
        order_count,
      </if>
      <if test="couponCount != null" >
        coupon_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="returnOrderCount != null" >
        return_order_count,
      </if>
      <if test="loginCount != null" >
        login_count,
      </if>
      <if test="attendCount != null" >
        attend_count,
      </if>
      <if test="fansCount != null" >
        fans_count,
      </if>
      <if test="collectProductCount != null" >
        collect_product_count,
      </if>
      <if test="collectSubjectCount != null" >
        collect_subject_count,
      </if>
      <if test="collectTopicCount != null" >
        collect_topic_count,
      </if>
      <if test="collectCommentCount != null" >
        collect_comment_count,
      </if>
      <if test="inviteFriendCount != null" >
        invite_friend_count,
      </if>
      <if test="recentOrderTime != null" >
        recent_order_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="consumeAmount != null" >
        #{consumeAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderCount != null" >
        #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="couponCount != null" >
        #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="returnOrderCount != null" >
        #{returnOrderCount,jdbcType=INTEGER},
      </if>
      <if test="loginCount != null" >
        #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="attendCount != null" >
        #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="fansCount != null" >
        #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="collectProductCount != null" >
        #{collectProductCount,jdbcType=INTEGER},
      </if>
      <if test="collectSubjectCount != null" >
        #{collectSubjectCount,jdbcType=INTEGER},
      </if>
      <if test="collectTopicCount != null" >
        #{collectTopicCount,jdbcType=INTEGER},
      </if>
      <if test="collectCommentCount != null" >
        #{collectCommentCount,jdbcType=INTEGER},
      </if>
      <if test="inviteFriendCount != null" >
        #{inviteFriendCount,jdbcType=INTEGER},
      </if>
      <if test="recentOrderTime != null" >
        #{recentOrderTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.mall.model.UmsMemberStatisticsInfo" >
    update ums_member_statistics_info
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="consumeAmount != null" >
        consume_amount = #{consumeAmount,jdbcType=DECIMAL},
      </if>
      <if test="orderCount != null" >
        order_count = #{orderCount,jdbcType=INTEGER},
      </if>
      <if test="couponCount != null" >
        coupon_count = #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="returnOrderCount != null" >
        return_order_count = #{returnOrderCount,jdbcType=INTEGER},
      </if>
      <if test="loginCount != null" >
        login_count = #{loginCount,jdbcType=INTEGER},
      </if>
      <if test="attendCount != null" >
        attend_count = #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="fansCount != null" >
        fans_count = #{fansCount,jdbcType=INTEGER},
      </if>
      <if test="collectProductCount != null" >
        collect_product_count = #{collectProductCount,jdbcType=INTEGER},
      </if>
      <if test="collectSubjectCount != null" >
        collect_subject_count = #{collectSubjectCount,jdbcType=INTEGER},
      </if>
      <if test="collectTopicCount != null" >
        collect_topic_count = #{collectTopicCount,jdbcType=INTEGER},
      </if>
      <if test="collectCommentCount != null" >
        collect_comment_count = #{collectCommentCount,jdbcType=INTEGER},
      </if>
      <if test="inviteFriendCount != null" >
        invite_friend_count = #{inviteFriendCount,jdbcType=INTEGER},
      </if>
      <if test="recentOrderTime != null" >
        recent_order_time = #{recentOrderTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.mall.model.UmsMemberStatisticsInfo" >
    update ums_member_statistics_info
    set member_id = #{memberId,jdbcType=BIGINT},
      consume_amount = #{consumeAmount,jdbcType=DECIMAL},
      order_count = #{orderCount,jdbcType=INTEGER},
      coupon_count = #{couponCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      return_order_count = #{returnOrderCount,jdbcType=INTEGER},
      login_count = #{loginCount,jdbcType=INTEGER},
      attend_count = #{attendCount,jdbcType=INTEGER},
      fans_count = #{fansCount,jdbcType=INTEGER},
      collect_product_count = #{collectProductCount,jdbcType=INTEGER},
      collect_subject_count = #{collectSubjectCount,jdbcType=INTEGER},
      collect_topic_count = #{collectTopicCount,jdbcType=INTEGER},
      collect_comment_count = #{collectCommentCount,jdbcType=INTEGER},
      invite_friend_count = #{inviteFriendCount,jdbcType=INTEGER},
      recent_order_time = #{recentOrderTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>